
config queue 'wanct1'
	option enabled '1'
	option interface 'wanct1'
	option download '124000'
	option upload '0'
	option qdisc 'cake'
	option script 'piece_of_cake.qos'
	option linklayer 'ethernet'
	option overhead '44'
	option debug_logging '0'
	option verbosity '5'
	option qdisc_advanced '1'
	option qdisc_really_really_advanced '1'
	option iqdisc_opts 'nat dual-dsthost ingress'
	option eqdisc_opts 'nat dual-srchost'
	option squash_dscp '1'
	option squash_ingress '1'
	option ingress_ecn 'ECN'
	option egress_ecn 'NOECN'

config queue 'wanct2'
	option enabled '1'
	option interface 'wanct2'
	option download '124000'
	option upload '0'
	option qdisc 'cake'
	option script 'piece_of_cake.qos'
	option linklayer 'ethernet'
	option overhead '44'
	option debug_logging '0'
	option verbosity '5'
	option qdisc_advanced '1'
	option qdisc_really_really_advanced '1'
	option iqdisc_opts 'nat dual-dsthost ingress'
	option eqdisc_opts 'nat dual-srchost'
	option squash_dscp '1'
	option squash_ingress '1'
	option ingress_ecn 'ECN'
	option egress_ecn 'NOECN'

config queue 'wancm1'
	option enabled '0'
	option interface 'wancm1'
	option download '0'
	option upload '105000'
	option qdisc 'cake'
	option script 'piece_of_cake.qos'
	option linklayer 'ethernet'
	option overhead '44'
	option debug_logging '0'
	option verbosity '5'

config queue 'wancm2'
	option enabled '0'
	option interface 'wancm2'
	option download '0'
	option upload '105000'
	option qdisc 'cake'
	option script 'piece_of_cake.qos'
	option linklayer 'ethernet'
	option overhead '44'
	option debug_logging '0'
	option verbosity '5'

